<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handleBtnClick">提交</button>
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el:'#app',
            data:{
                list:['第一课内容','第二课内容','第三课内容'],
                inputValue:''
            },
            methods:{
                handleBtnClick:function (){
                    this.list.push(this.inputValue)
                    this.inputValue=''
                    // alert('click')
                }
            }
        })
    </script>
</body>
</html>
